{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Password Reset Sent</title>
{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white p-4 rounded shadow" style="width: 100%; max-width: 500px;">
            <h2 class="text-center mb-4">Password Reset Sent</h2>
            <p class="text-center">We've emailed you instructions for resetting your password. If you don't receive an email, please check your spam folder.</p>
            <div class="d-grid">
                <a href="{% url 'product:index' %}" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
{% endblock %}