{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Password Change Successful</title>
{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white p-4 rounded shadow" style="width: 100%; max-width: 500px;">
            <h2 class="text-center mb-4">Password Change Successful</h2>
            <p class="text-center">Your password has been changed successfully.</p>
            <div class="d-grid">
                <a href="{% url 'product:index' %}" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
{% endblock %}